# General
.DS_Store
.env
.venv
venv/
__pycache__/
*.py[cod]
*$py.class

# Expo / React Native
.expo/
node_modules/
npm-debug.log
yarn-error.log
android/
ios/
web-build/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/
expo-env.d.ts